body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
.navbar{
    background-color: white;
}

.card{
    font-size: 0.8rem;
    border: none;
    margin-top: 65px;
    
}
.card-top{
    padding: 0.7rem 5rem;
}
.card-top a{
    float: left;
    margin-top: 0.7rem;
}
#logo{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem;
}

@media(max-width:768px){
    .card-body{
        padding: 0 1rem 1rem 1rem;
        background-size: cover;
        background-repeat: no-repeat;
        
        
    }  
    .card-top{
        padding: 0.7rem 1rem;
    }
}

/*
.upper{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;   
}*/ 

#three{
    border-radius: 1rem;
        width: 22px;
    height: 22px;
    margin-right:3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}
#payment{
    margin:0;
    color: blue;
}


input{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    margin-left: 10px;
    outline: none;
    width: auto;
    background-color: white;
    border-radius:10px;
}

.header{
    font-size: 1.5rem;
}

.card-left{
    background-color: #F8EDED;
    border-radius: 10px;
    padding: 2vh;   
}
.left img{
    width: 2rem;
}

.right .item{
    padding: 0.3rem 0;
}
.card-right{
    background-color: #ffffff;
    padding: 2vh;
}
.col-8{
    padding: 0 1vh;
}
.lower{
    line-height: 2;
}
.btn{
    background-color: rgb(23, 4, 189);
    border-color: rgb(23, 4, 189);
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}

#pagar{
    border-radius: 10px;
    width: 15%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #3182CE;
    color: white;
}

.align-self-center {
    font-size: 30px;
    color: gray;
    margin-right: -8px;
}
.form-control{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    font-size: 14px;
    width: 55px;
}

.buttonMinus, .buttonMax {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    width: 22px;
    background-color: #E2E8F0;
    font-weight: bold;
}

.buttonsSend {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    font-size: 14px;
}

.buttonRegistro {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-right: 100px;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 132px;
}

.alignContador {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#discountInput {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #E2E8F0;
    width: 110px;
    
    
}

#discountButton{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #3182CE;
    color: white;
    width: 60px;
    height: 40px;
    
}

img {
    border-radius: 5px;
}

/* BARRA DE PROGRESO*/
.progress-bar {
position: relative;
width: 100%;
height: 30px;
background-color: white;
border-radius: 15px;
margin-bottom: 45px;
}

.progress {
position: absolute;
height: 100%;
background-color: #007bff;
border-radius: 15px;
transition: width 0.3s ease-in-out;
}
/* BARRA DE PROGRESO*/

.upper {
display: flex; 
justify-content: space-between;
align-items: center;
height: 100%;
padding: 0 10px;
background-color: white;
font-size: 14px;
}

.upper span i {
font-size: 20px;
margin-right: 5px;
color: #007bff;
}

.fa-lock{
    font-size: 20px;
    justify-content: end;
}

/*Usar direccion guardada*/
.spanDireccion {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-right: 40px;
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

.inputDireccion{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    font-size: 14px;
    background-color: white;
    margin-bottom: 20px;
    width: auto;
}
/*Usar direccion guardada*/