body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
.navbar{
    background-color: white;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    border: none;
    padding-left: 25%;
    max-width: 1500px;
    margin-top: 65px;
}
.card-top{
    padding: 0.7rem 5rem;
}
.card-top a{
    float: left;
    margin-top: 0.7rem;
}
#logo{
    font-family: 'Dancing Script';
    font-weight: bold;
    font-size: 1.6rem;
}

@media(max-width:768px){
    .card-body{
        padding: 0 1rem 1rem 1rem;
        background-size: cover;
        background-repeat: no-repeat;
        
    }  
    .card-top{
        padding: 0.7rem 1rem;
    }
}
.row{
    margin: 0;
}
/*
.upper{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;   
}*/ 

#three{
    border-radius: 1rem;
        width: 22px;
    height: 22px;
    margin-right:3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}
#payment{
    margin:0;
    color: blue;
}
.icons{
    margin-left: -15px;
}
form span{
    color: rgb(179, 179, 179);
}
form{
    padding: 2vh 0;
    color: black;
    
}
input{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: white;
    border-radius:10px;
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.header{
    font-size: 1.5rem;
    margin-left: -15px;
}

.left{
    background-color: #F8EDED;
    padding: 2vh;   
}
.left img{
    width: 2rem;
}
.left .col-4{
    padding-left: 0;
}
.right .item{
    padding: 0.3rem 0;
}
.right{
    background-color: #ffffff;
    padding: 2vh;
}
.col-8{
    padding: 0 1vh;
}
.lower{
    line-height: 2;
}
.btn{
    background-color: rgb(23, 4, 189);
    border-color: rgb(23, 4, 189);
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin: 4vh 0 1.5vh 0;
    padding: 1.5vh;
    border-radius: 0;
}
.btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.btn:hover{
    color: white;
}
a{
    color: black;
}
a:hover{
    color: black;
    text-decoration: none;
}
input[type=checkbox]{
    width: unset;
    margin-bottom: unset;
}
#cvc{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575) , rgba(255, 255, 255, 0.541));
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
} 

#apli{
    border-radius: 10px;
    height: 55%;
    width: 55%;
    background-color: #3182CE;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

.spans{
    color:#718096;
    font-size: 14px;
}

#inpu {
    background-color: #E2E8F0;
}

#inputNM {
    width: 468px;
    margin-right: 25px;
}

#pagar{
    border-radius: 10px;
    width: 15%;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #3182CE;
    color: white;
}

.align-self-center {
    font-size: 30px;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 35px;
}
.form-control{
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin-left: -12px;
}

.buttonsPlus{
    margin-left: -54px;
    font-size: 15px;
}

.buttonMinus, .buttonMax {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    width: 22px;
    background-color: #E2E8F0;
}

.buttonCancel {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-right: 100px;
    font-size: 14px;
}
.buttonAceptar {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-left: 216px;
    font-size: 14px;
}

.buttonRegistro {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-right: 100px;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 132px;
}

.alignOne {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}



/* BARRA DE PROGRESO*/
.progress-bar {
position: relative;
width: 100%;
height: 30px;
background-color: white;
border-radius: 15px;
margin-bottom: 45px;
}

.progress {
position: absolute;
height: 100%;
background-color: #007bff;
border-radius: 15px;
transition: width 0.3s ease-in-out;
}

.upper {
display: flex; 
justify-content: space-between;
align-items: center;
height: 100%;
padding: 0 10px;
background-color: white;
font-size: 14px;
}

.upper span i {
font-size: 20px;
margin-right: 5px;
color: #007bff;
}

.fa-lock{
    font-size: 20px;
    margin-left: 474px;
    margin-top: -25px;
}

.spanDir {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    margin-right: 40px;
    font-size: 14px;
    font-weight: bolder;
    color: black;
}

.inputDir{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: transparent;
    font-size: 14px;
    background-color: white;
    margin-bottom: 20px;
    width: 208px;
    margin-left: 40px;
}