/* Newsletter */

h3 {
    color: #fff;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.subscribe {
    position: absolute;
    top: 35%;
    left: 25%;
}

.input-encima {
    position: absolute;
    top: 35%;
    left: 60%;
}

.centrado {
    position: absolute;
    top: 55%;
    left: 60%;
}

.imagen {
    height: 350px;
    width: 100%;
    object-fit: cover;
    filter: blur(2px);
    filter: brightness(0.6);
}

.nw-inpt {
    border-radius: 5px;
    border: none;
}

.nw-inpt:focus {
    outline: none;
}

.boton-nw {
    border-radius: 40px;
    padding: 6px 10px;
}

/*Contacto things*/

#miBoton {
    padding: 15px 30px;
    border-radius: 15px;
    border: none;
    background-color: #ffb7ac;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black;
    margin-left: 5px;
}

#informacion {
    padding: 20px;
    border-radius: 15px;
    margin-top: 30px;
    /*Era 30*/
    background-color: #ffb7ac;


}

#contacto {
    margin-left: 35px;
}

#mapsimg {
    margin-left: 150px;
    max-width: 20%
}


/* Para pantallas más grandes que 768px */
@media (min-width: 768px) {
    #informacion {
        max-width: 40%;
        margin-left: 15px;
        /* se ajustará automáticamente al ancho del contenedor */
    }
}

/* Para pantallas más pequeñas que 768px */
@media (max-width: 767px) {
    #informacion {
        max-width: 80%;
        margin-right: auto;
        /* se ajustará automáticamente al ancho del contenedor */
        margin-left: auto;
    }

}

@media screen and (max-width: 768px) {
    #contacto {
        width: 90%;
        margin: 0 auto;
    }

    #contacto form input,
    #contacto form textarea {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #mapsUbicacion {
        max-width: 80%;
        margin-right: auto;
        /* se ajustará automáticamente al ancho del contenedor */
        margin-left: auto;
    }
}

body {
    overflow-x: hidden;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* FOOTER */
.bg {
    background-color: #F8E8E6;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    overflow: hidden;
    padding-bottom: 2%;
}

.text-left {
    float: left;

}

.text-right {
    float: right;
}

/* FOOTER */