body{
    font-family: 'Montserrat';
}

.bg-w{
    background-color: white;
}

.col-md-4 {
    margin-left: 85px;
}

#conteiner{
    margin-top: 85px;
}

/* CONTENEDOR ROSA */
.container {
    font-family: 'Montserrat';
    background-color: #F8EDED;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
/* CONTENEDOR ROSA */

/* CONTENEDOR GRIS */

#container2{
    font-family: 'Montserrat';
    background-color: transparent;
    /* background-color: #f8f8f8; */
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
/* CONTENEDOR GRIS */

.header{
    font-size: 30px;
}

/* CARD */
.card {
    font-size: 0.8rem;
    border: none;
    margin-top: 65px;

}
/* CARD */

/* BARRA DE PROGRESO*/
.progress-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 45px;
}

.progress {
    position: absolute;
    height: 100%;
    background-color: #007bff;
    border-radius: 15px;
    transition: width 0.3s ease-in-out;
}

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    background-color: white;
    font-size: 14px;
}

.upper span i {
    font-size: 20px;
    margin-right: 5px;
    color: #007bff;
}

.fa-lock {
    font-size: 20px;
    justify-content: end;
}

#three {
    border-radius: 1rem;
    width: 22px;
    height: 22px;
    margin-right: 3px;
    border: 1px solid blue;
    text-align: center;
    display: inline-block;
}

#payment {
    margin: 0;
    color: blue;
}
/* BARRA DE PROGRESO*/
/* FORMULARIO */
.form {
    padding: 30px 40px;
}

.form-control {
    border: transparent;
    background: transparent;
    margin-top: 10px;
}

.form-control input {
    border: transparent;
    border-radius: 10px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form button {
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    color: black;
    display: block;
    font-size: 16px;
    padding: 10px; 
    margin-top: 20px;
    width: 100%;
}

.formularioMensaje{
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.formMensajeExito {
    font-size: 14px;
    color: #119200;
    display: none;
    
}

.formMensajeExitoActivo {
    display: block;
}
/* FORMULARIO */
.formLabel {
    display: block;
    cursor: pointer;
}
.formInputError {
    font-size: 14px;
    margin-bottom: 0;
    display: none;
}

.formInputErrorActivo{
    display: block;
}

/* FORMULARIO VALIDACION */
.formGroupCorrecto .formValE {
    color: #1ed12d;
    opacity: 1;
}

.formGroupIncorrecto .formLabel{
    color: #bb2929;
}

.formGroupIncorrecto .formValE {
    color: #bb2929;
    opacity: 1;
}

.formGroupIncorrecto .formularioInputt {
    border: 3px solid #bb2929;
}
/* FORMULARIO VALIDACION */

/* RESUMEN DEL PEDIDO */

#imgFlower{
    width: 60%;
    border-radius: 10px;
}

#discountInput {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #E2E8F0;
    width: 120px;
    height: 40px;
    margin-left: 0;

}

#discountButton {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background-color: #3182CE;
    color: white;
    width: auto;
    height: 40px;
    margin-left: 8px;
}

/* BOTON MAX Y MINUS */
.buttonMinus,
.buttonMax {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    width: 22px;
    background-color: #E2E8F0;
}
/* BOTON MAX Y MINUS */

#bold{
font-weight: bold;
}

#gratis{
color: #2ecc71;
font-weight: bold;
}
/* RESUMEN DEL PEDIDO */

